@model MVC___RBAC.VeirMdels.RoleModels
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/_LayFormPage1.cshtml";
}
<form class="bootstrap-frm">
    <h1>模块管理 - 编辑</h1>
    <input type="hidden" name="RoleId" value="@Model.RoleId"/>
    <input type="hidden" name="ModuleId" value="@Model.ModuleId" />
    <label>
        <span>角色名称</span>
        <input  type="text" name="RoleName" disabled="disabled" value="@Model.RoleName"/>
    </label>
    <label>
        <span>模块名称</span>
        <input type="text" name="ModuleName" disabled="disabled" value="@Model.ModuleName" />
    </label>
    <label>
        <span>模块名称</span>
        @Html.DropDownList("UpdateModuleId", (IEnumerable<SelectListItem>)ViewBag.ModuleOptiuns)
    </label>
    <label>
        <span>&nbsp;</span>
        <input type="button" class="button" value="提交" />
    </label>
</form>
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
@section Script
{
    <script>
        $(".button").click(function () {
            $.ajax({
                url: '@Url.Action("Update", "RoleModule")',
                type: "post",
                data: $("form").serialize(),
                success: function (data) {
                    if (data.code === 200) {
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                        parent.location.reload();
                    }
                    else {
                        alert("提交失败")
                    }
                }

            })
        })
    </script>
}